<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button [routerLink]="['/introduction']">introduction</ion-button></ion-col>
      <ion-col><ion-button [routerLink]="['/domains']">domains</ion-button></ion-col>
      <ion-col><ion-button [routerLink]="['/integrating']">integrating</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button [routerLink]="['/repositories']">repositories</ion-button></ion-col>
      <ion-col><ion-button [routerLink]="['/services']">services</ion-button></ion-col>
      <ion-col><ion-button [routerLink]="['/architecture']">architecture</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button [routerLink]="['/application']">application</ion-button></ion-col>
      <ion-col><ion-button [routerLink]="['/events']">events</ion-button></ion-col>
      <ion-col><ion-button [routerLink]="['/presentation']">presentation</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button [routerLink]="['/bookmarks']" fill="clear"><ion-icon name="bookmark"></ion-icon></ion-button>
</ion-content>
