<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <b>hipertrofia</b><br>30-60s - 1x semana - 16-20 grandes - 12-14 pequenos - 2-5séries por exercício<br>
        grandes 4-5 exercícios, 3-4 séries<br>
        pequenos 4 exercícios, 3-4 séries
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>força</b><br> 180-300s - 1-6reps - 2-6séries por exercício
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>resistência</b><br> 45-120s - 15-20reps - 2-5séries por exercício
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>metabólico</b><br> mais de 6reps - menos de 30s, foco concêntrico, maior ardência
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>tensional</b><br> maximo 6reps - 60-90s - excêntrico lento, carga pesada
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="confirm()">OK</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
